@import url("components/globals.css");
@import url("components/nav.css");

body {
  max-height: 100vh;
  width: 100%;
}

/*****************Carousel*******************/

.carousel-container {
  position: relative;
  min-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond gris avec transparence */
  z-index: 1; /* Place le pseudo-élément au-dessus de l'image */
}

.carousel-text {
  max-width: 700px;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2; /* Place le texte au-dessus du pseudo-élément */
}

.carousel-text h2 {
  font-size: 4rem;
}

.carousel-text h2 span.yellow-word {
  color: orange;
}

.carousel-text p {
  margin-bottom: 20px;
}

.carousel-text a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(246, 245, 245);
  border: none;
  color: #000;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  overflow: hidden; /* Pour cacher le pseudo-élément en dehors du bouton */
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

/* Pseudo-élément pour l'effet de remplissage */
.carousel-control::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: orange;
  transition: width 0.4s ease-out;
  z-index: -1; /* Pour que le pseudo-élément soit derrière le texte du bouton */
}

.carousel-control:hover::before {
  width: 100%; /* Pour avoir la largeur de remplissage complète au survol */
}

/*****************About-Us*******************/
.about-us-container {
  min-width: 100%;
  padding: 80px 0;
  background-color: #fff;
  display: flex;
}

.about-us-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: uppercase;
  color: #000;
}

.about-us-title::after {
  background: orange none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 54px;
}

.box-about-us-text {
  width: 540px;
  height: 430px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-us-para {
  color: #606060;
  font-size: 13px;
  line-height: 22px;
  margin: 0 0 35px;
}

a.btn-read-more {
  border: 1px solid orange;
  border-radius: 10px;
  color: orange;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.box-about-us-img {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about-us-picture {
  width: 540px;
  height: 454px;
}

/** Parallax */
.container-parallax {
  padding: 80px 0px 80px 0px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("/assets/img/img_paralax.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.container-parallax::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.65;
  z-index: 1;
}

/* Pour m'assurer que le contenu reste au-dessus du calque gris transparent */
.container-parallax > * {
  position: relative;

  z-index: 2;
}

.category-text-container {
  max-width: 525px;
  color: #fff;
  text-align: center;
}

.category-text-container h2 {
  font-size: 30px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  text-transform: capitalize;
}

.category-text-container p {
  color: #838383;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  margin: 0 0 39px;
}

.category-text-container h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #ffb200;
  margin: 20px auto 0;
}

.categories-container {
  display: block;
}

.categories-header {
  max-height: 800px;
  display: flex;
  justify-content: center;
}

.category-text-container .yelow-word {
  color: orange;
}

/**Card*/
.categories-card-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.card-container li {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 180px;
  width: 350px;
  text-align: center;
}

.card i {
  position: relative;
  left: 1%;
  top: 0.9%;
  font-size: 30px;
  color: #ffb200;
  width: 70px;
  height: 70px;
  border-radius: 0 0 100% 100%;
  text-align: center;
  padding-top: 18px;
  margin-top: -36px;
  background-color: #ffffff;
  border: 1px solid #eee;
  border-left: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card i:hover {
  color: #fff;
  background-color: orange;
  transition: all 0.4s ease-in-out;
}

.card a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0px;
  text-decoration: none;
  color: #000;
  margin-top: 30px;
}

.card small {
  display: block;
  color: grey;
}

.card span {
  font-family: sans-serif;
  position: relative;
  left: 125px;
  bottom: 127px;
  font-size: 90px;
  font-weight: 500;
  color: #999;
  opacity: 0.07;
  line-height: 1;
}

/** Our Service */

.our-service-text-container {
  max-width: 525px;
  color: #000;
  text-align: center;
}

.our-service-header {
  margin-top: 52px;
}

.our-service-text-container h2 {
  margin-top: 40px;
  font-size: 30px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  text-transform: capitalize;
}

.our-service-text-container p {
  color: #838383;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  margin: 0 0 39px;
}

.our-service-text-container h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #ffb200;
  margin: 20px auto 0;
}

.our-service-container {
  display: block;
}

.our-service-header {
  max-height: 800px;
  display: flex;
  justify-content: center;
}

.our-service-text-container .yelow-word {
  color: orange;
}

/** Our-service-card */
.our-service-card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  padding: 20px;
}

.our-service-card-container {
  display: flex;
  flex-wrap: nowrap; /* Empêcher les cartes de passer à la ligne suivante */
  justify-content: center;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.our-service-card-container a {
  text-decoration: none;
  color: #000;
}

.our-service-card-container li {
  display: flex;
  justify-content: center; /* Pour centrer les cartes horizontalement */
  flex: 0 1 23%; /* J'ajuste la largeur des cartes pour qu'elles soient bien réparties */
  width: 250px;
  height: 403.2px;
}

.our-service-card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
  padding: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  min-height: 100%;
  min-width: 100%; /* Pour prendre la largeur disponible */
  text-align: center;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.our-service-card:hover {
  background-color: orange;
  color: #fff;
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.our-service-card i.card-logo {
  margin-top: 40px;
  font-size: 30px;
  color: #ffb200;
  margin-bottom: 15px;
  transition: color 0.4s ease-in-out;
}

.our-service-card:hover i.card-logo {
  color: #fff;
}

.our-service-card h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.our-service-card p {
  text-align: center;
  color: grey;
  line-height: 30px;
  margin-bottom: 20px;
}

.our-service-card:hover p {
  width: 200px;
}

.our-service-card:where(h2, p) {
  margin: 0;
  transition: color 0.4s ease-in-out;
}

.our-service-card a {
  text-decoration: none;
  color: inherit; /* Je garde la couleur du texte héritée du parent */
}

.our-service-card .btn {
  background-color: orange;
  color: #fff;
  border-radius: 50%;
  padding: 15px;
  margin-top: 20px;
  font-size: 20px;
  transition: color 0.4s ease-in-out;
}

.our-service-card:hover .btn {
  background-color: white;
  color: #000;
}

/* Footer */

footer {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

footer :where(h2, p) {
  margin-top: 20px;
}

.container-same-style {
  max-width: 240px;
  max-height: 276.77px;
}

.container-same-style :where(a) {
  text-decoration: none;
  color: #fff;
}

ul.social-link {
  display: flex;
  justify-content: center;
}

ul.social-link li {
  margin: 15px;
}

ul.social-link li a {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

ul.social-link li a.twitter:hover {
  background-color: #209beb;
}

ul.social-link li a.linkedin:hover {
  background-color: #0e76a8;
}

ul.social-link li a.instagram:hover {
  background-color: #3e6d95;
}

ul.social-link li a.facebook:hover {
  background-color: #3b5998;
}

ul.social-link li a i {
  color: #fff;
}

.footer-para-custom {
  color: grey;
}

.footer-title-custom a {
  color: orange;
  font-size: 3rem;
  text-decoration: none;
}

.footer-title {
  color: #fff;
}

.footer-para {
  color: #fff;
}

.news-letter-links-container :where(h2, p, input) {
  margin-bottom: 20px;
}

.news-letter-links-container :where(input, button) {
  min-width: 90%;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.news-letter-links-container button {
  background-color: orange;
  color: #fff;
  cursor: pointer;
}
